# requirements.in
# basic usage
#   pip-compile requirements.in
#   pip-sync
# to upgrade all packages, run pip-compile --upgrade

flask
flask-babel
flask-bootstrap
flask-login
flask-sqlalchemy
flask-uploads
flask-wtf
pillow
qrcode
colorama
decorator
pbr
sqlalchemy-migrate